// 添加背景图片
body {
      background: url(./../images/background.jpg);//自己喜欢的图片地址
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: 50% 50%;
}

// 修改主体透明度
.main-inner {
      background: #fff;
      // opacity: 0.8;
      z-index: 1
}

// 修改菜单栏透明度
.header-inner {
      // opacity: 0.8;
      z-index: 9
      // background-color rgba(255,255,255,.8)
}
